.squareView {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 50px;
    height: 50px;
    border: 1px solid black;

    &:hover {
        background-color: lightgreen;
    }

    .stone {
        border-radius: 50%;
        width: 80%;
        height: 80%;

        &.black {
            background-color: black;
        }

        &.white {
            background-color: white;
        }
    }
}
