.squareView {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 50px;
    height: 50px;
    border: 1px solid black;

    &.captured {
        border-color: red;
    }

    &:hover {
        background-color: lightgreen;
    }
}
