.stone {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    width: 80%;
    height: 80%;

    &.black {
        background-color: black;
    }

    &.white {
        background-color: white;
    }
}